<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Parallel Test Suite" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="TestNGListenersDemo"></listener>
        <listener class-name="hfhg"></listener>
        <listener class-name="jgjhhj"></listener>
    </listeners>
    <test name="Parallel Test" >
<!--        <parameter name="username" value="standard_user"/>-->
        <classes>
<!--            <class name="TestNGDemo.Testngdemotest"/>-->
            <class name="TestNGDemo.Testngdemo2"></class>

        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->